#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.section-container {
	max-width: 95vw;
	border: 0.125rem groove hsl(140, 100%, 80%);
	border-radius: 2rem;
	margin: 1rem auto;
	color: hsl(140, 80%, 80%);
	background-color: hsl(70, 50%, 10%);
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3rem;
}

#todays-date {
	font-size: 2rem;
	margin: 1rem auto;
}